<%- layout('layout') %>

<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1><i>iSpace</i> Market Watch</h1>
        <p>A web based personal Stock and Trade management platform</p>

        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a></p><p><i>free sign-up & start trading >></i></p>

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Live Stock Query</h2>
            <p>Get real time stock information</p>
            <p><a class="btn btn-default" href="/signup" role="button">Let's Go&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Portfolio Management</h2>
            <p>Easy and Perfect portfolio for register user</p>
            <p><a class="btn btn-default" href="/login" role="button">My portfolio &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Thoughts and Strategies</h2>
            <p>Hear from experts, leader or buddy investors. Get suggestions, guidance and Ideas from people.</p>
            <p><a class="btn btn-default" href="#" role="button">Learn &raquo;</a></p>
        </div>
    </div>